@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(250, 250, 252);
  color: rgb(56, 70, 60);
}

@font-face {
  font-family: "heanffe";
  src: url("/heanffe.ttf");
}

.fancy {
  font-family: "heanffe";
}
