@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(250, 250, 252);
  color: rgb(56, 70, 60);
}

@font-face {
  font-family: "heanffe";
  src: url("https://res.cloudinary.com/dii1nnhpp/raw/upload/v1694202175/assets/Heanffe_algkwc.ttf");
}

.fancy {
  font-family: "heanffe";
}
